/*
header font
font-family: 'Monoton', cursive;
*/
/*
page font
font-family: 'Cairo', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    --main-color:#dca523;
    --main-color-more-dark2:#a07512;
    --main-color-more-dark1:#684d0f;
    --second-color:#ffffff1a;
    --background-color:#0f0a05;
    --second-text-color:#fff;
    --main-transition:0.3s;
    --small-cubes-color: #1e1e21;
    --important-red:#b50a0a;
    --grey-color:#645f5fa0;
    --section-padding: 100px;
    --pulse1: rgb(130 50 152 /0.5);
    --pulse2: rgb(65 105 225 / 0.5);
    --box-shadow: 0 2px 4px var(--main-color-more-dark1), 0 8px 16px var(--main-color-more-dark1);
}
body{
	margin:0;
	padding: 0;
	font-family: 'Cairo', sans-serif;
	background-color:var(--background-color);
	color: var(--main-color);
}
/* ==start header=============================================================== */
header {
    width: 100%;
    height: 100px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
    position: fixed;
    z-index: 1000;
    margin-top: -120px;
}
header .logo {
    font-family: 'Monoton', cursive;
    font-size: 1.5rem;
    color: var(--main-color);
    padding-left: 20px;
    letter-spacing: 3px;
}
.com {
    color: var(--main-color-more-dark1);
    font-size: 0.7rem;
    letter-spacing: 1px;
}
.search {
    padding-right: 20px;
}
header #container ul li {
    list-style: none;
}
header #container ul li a {
    text-decoration: none;
    color: var(--main-color-more-dark1);
}
header #container ul li p:hover{
    color: var(--second-text-color);
    background-color: var(--small-cubes-color);
}
#container {
    width: 120px;
	/* height: 350px; */
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    padding: 15px;
	font-size: 1rem;
    border-radius: 10px;
    position: absolute;
}

#open,#close{
    /* margin-top: 420px;
    margin-bottom: 10px; */
    cursor: pointer;
    background-color: transparent;
    color: var(--second-text-color);
    border: none;
    outline: none;
    font-size: 1rem;
}
#close {
    color: var(--important-red);
}
.hide {
    display: none;
}
.field {
    /* width: 250px; */
    background-color: transparent;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
}
.field input[type="text"] {
    border: none;
    outline: none;
    background-color: var(--main-color-more-dark1);
    border-radius: 10px;
    padding: 10px;
    font-weight: 800;
    color: var(--main-color);
}
.field .search {
    color: var(--main-color);
}
/* ==end header================================================================= */
.container {
	margin-top: 120px;
}
.nav{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin:10px;
}
.about-us{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
}
.who-we-are{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.who-we-are span{
	width: 60%;
	align-items: center;
text-align: center;
}
.cards{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:10px;
	flex-wrap: wrap;

}
.card-img{
	border-radius: 5px;
}
.cards .card{
	width: 16rem;
	margin: 20px;
}
.card p{
	font-size: 14px;
}
.social-media{
	width: 90%;
	display: flex;
	justify-content: flex-end;
}
.social-media i{
	margin:10px;
}
.active{
	border-bottom: 1px solid var(--main-color);
}
.card-img1{
	width: 100%;
	height: 12rem;
	background-image: url(/AFLEX.github.A/images/01.jpg);
	background-size: cover;
	background-position: center center;
}
.card-img2{
	width: 100%;
	height: 12rem;
	background-image: url(/AFLEX.github.A/images/02.jpg);
	background-size: cover;
	background-position: center center;
}
.card-img3{
	width: 100%;
	height: 12rem;
	background-image: url(/AFLEX.github.A/images/03.jpg);
	background-size: cover;
	background-position: center center;
}
.card-img4{
	width: 100%;
	height: 12rem;
	background-image: url(/AFLEX.github.A/images/04.jpg);
	background-size: cover;
	background-position: center center;
}
.card-img5{
	width: 100%;
	height: 12rem;
	background-image: url(/AFLEX.github.A/images/5.jpg);
	background-size: cover;
	background-position: center center;
}
.card-img6{
	width: 100%;
	height: 12rem;
	background-image: url(/AFLEX.github.A/images/6.jpg);
	background-size: cover;
	background-position: center center;
}
.card-img7{
	width: 100%;
	height: 12rem;
	background-image: url(/AFLEX.github.A/images/7.jpg);
	background-size: cover;
	background-position: center center;
}
.logo{
	font-family: 'Cairo', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
}
