/*
header font
font-family: 'Monoton', cursive;
*/
/*
page font
font-family: 'Cairo', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    --main-color:#dca523;
    --main-color-more-dark2:#a07512;
    --main-color-more-dark1:#684d0f;
    --second-color:#ffffff1a;
    --background-color:#0f0a05;
    --second-text-color:#fff;
    --main-transition:0.3s;
    --small-cubes-color: #1e1e21;
    --important-red:#b50a0a;
    --grey-color:#645f5fa0;
    --section-padding: 100px;
    --pulse1: rgb(130 50 152 /0.5);
    --pulse2: rgb(65 105 225 / 0.5);
    --box-shadow: 0 2px 4px var(--main-color-more-dark1), 0 8px 16px var(--main-color-more-dark1);
}
body{
	margin:0;
	padding: 0;
	font-family: 'Cairo', sans-serif;
	background-color:var(--background-color);
	color: var(--main-color);
}
/* ==start header=============================================================== */
header {
    width: 100%;
    height: 100px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
    position: fixed;
    z-index: 1000;
    margin-top: -120px;
}
header .logo {
    font-family: 'Monoton', cursive;
    font-size: 1.5rem;
    color: var(--main-color);
    padding-left: 20px;
    letter-spacing: 3px;
}
.com {
    color: var(--main-color-more-dark1);
    font-size: 0.7rem;
    letter-spacing: 1px;
}
.search {
    padding-right: 20px;
}
header #container ul li {
    list-style: none;
}
header #container ul li a {
    text-decoration: none;
    color: var(--main-color-more-dark1);
}
header #container ul li p:hover{
    color: var(--second-text-color);
    background-color: var(--small-cubes-color);
}
#container {
    width: 120px;
	/* height: 350px; */
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    padding: 15px;
	font-size: 1rem;
    border-radius: 10px;
    position: absolute;
}

#open,#close{

    cursor: pointer;
    background-color: transparent;
    color: var(--second-text-color);
    border: none;
    outline: none;
    font-size: 1rem;
}
#close {
    color: var(--important-red);
}
.hide {
    display: none;
}
.field {

    background-color: transparent;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
}
.field input[type="text"] {
    border: none;
    outline: none;
    background-color: var(--main-color-more-dark1);
    border-radius: 10px;
    padding: 10px;
    font-weight: 800;
    color: var(--main-color);
}
.field .search {
    color: var(--main-color);
}
/* ==end header================================================================= */
.space {
	margin-top: 120px;
}
.nav{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin:10px;
}
.logo{
	font-family: 'Cairo', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
}

.about-us{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
	color: var(--main-color);
    color:var(--first-text-color);
}
.who-we-are{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.who-we-are span{
	width: 60%;
	align-items: center;
text-align: center;
}



@import url("https://fonts.googleapis.com/css?family=Poppins|Lato|Roboto+Mono&display=swap");



* {
  box-sizing: border-box;
  outline: none;
  user-select: none;
  justify-content: center;
  align-items: center;
  border: radius 40px;
}

#carousel-wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  #menu {
    height: 380px;
    width: 720px;
    overflow: hidden;
    font-weight: 700;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    transition: all 0.6s ease-in-out;

    #current-option {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translate(-25%, 0%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      #current-option-text1 {
        font-size: 3rem;
        line-height: 3rem;
        width: 220px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        

        &::before {
          content: attr(data-next-text);
          position: absolute;
          transform: translate(0%, 380px);
          width: 100%;
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
        
        }

        &::after {
          content: attr(data-previous-text);
          position: absolute;
          transform: translate(0%, -380px);
          width: 100%;
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
         
        }
      }

      #current-option-text2 {
        font-size: 0.8rem;
        width: 220px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
      

        &::before {
          content: attr(data-next-text);
          position: absolute;
          transform: translate(0%, 380px);
          width: 100%;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
         
        }

        &::after {
          content: attr(data-previous-text);
          position: absolute;
          transform: translate(0%, -380px);
          width: 100%;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
         
        }
      }
    }

    #previous-option {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      display: block;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
      background-size: cover;
      position: absolute;
      transform: translate(310px, 50px);
    }

    #next-option {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      display: block;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
      background-size: cover;
      position: absolute;
      transform: translate(310px, -50px) rotate(180deg);
    }
  }

  #image {
    height: 240px;
    width: 240px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 101;
    position: absolute;
    transform: translate(140px, 0);
  }

  &.anim-next {
    pointer-events: none;

    #current-option-text1 {
      animation: next-text 0.65s 0.085s;
    }

    #current-option-text2 {
      animation: next-text 0.65s 0.085s;
    }

    #previous-option {
      animation: next-top-arrow 0.65s 0.085s;
    }

    #next-option {
      animation: next-bottom-arrow 0.65s 0.085s;
    }
    
    #image {
      animation: next-image 0.65s 0.085s;
    }
  }

  &.anim-previous {
    pointer-events: none;

    #current-option-text1 {
      animation: previous-text 0.65s 0.085s;
    }

    #current-option-text2 {
      animation: previous-text 0.65s 0.085s;
    }

    #previous-option {
      animation: previous-top-arrow 0.65s 0.085s;
    }

    #next-option {
      animation: previous-bottom-arrow 0.65s 0.085s;
    }
    
    #image {
      animation: previous-image 0.65s 0.085s;
    }
  }
}

@keyframes previous-text {
  50%,
  55% {
    transform: translate(0%, 390px);
  }
  to {
    transform: translate(0%, 380px);
  }
}

@keyframes previous-top-arrow {
  50% {
    transform: translate(310px, 53px);
  }
}

@keyframes previous-bottom-arrow {
  50% {
    transform: translate(310px, -47px) rotate(180deg);
  }
}

@keyframes previous-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

@keyframes next-text {
  50%,
  55% {
    transform: translate(0%, -390px);
  }
  to {
    transform: translate(0%, -380px);
  }
}

@keyframes next-top-arrow {
  50% {
    transform: translate(310px, 47px);
  }
}

@keyframes next-bottom-arrow {
  50% {
    transform: translate(310px, -53px) rotate(180deg);
  }
}

@keyframes next-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}
